@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
.App {
  
  text-align: center;
}
input {
  padding: 1rem;
  width: 80%;
}
body{
  background: linear-gradient(9deg,black,red);
  height: 100vh;
  font-family: 'Titillium Web', sans-serif;
}